body {
    margin: 0;
  }
  header {
    background-color: #373738;
    padding: 4px;
    max-height: 15vh;
    position: sticky;
  }
  header img {
    max-height: 10vh;
    border-radius: 100%;
    object-position: 50% 50%;
    object-fit: cover;
  }
  header ul {
    float: right;
    color: white;
    padding: 24px;
    font-family: 'Lato', 'Roboto', sans-serif;
    font-weight: bold;
  }
  header li {
    display: inline-block;
    padding: 0px 5px;
  }
  header p {
    display: inline-block;
  }
  .heroImg {
    background-image: url("../images/bg_1_placeholder.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: relative;
    background-size: cover;
    max-height: 80vh;
  }

  /* Text styles */
  .hero1 {
    font-size: xx-large;
  }
  .heroBody {
    font-size: larger;
  }
  .heroFine {
    font-size: small;
  }


  .content {
    max-width: 300px;
    margin-left: 33%;
    padding: 50px;
    /* background-color: rgba(0,0,0,0.3); */
    text-align: left;
  }
  button {
    padding: 15px;
    background-color: #373738;
    color: white;
    font-size: 15px;
    border-radius: 4px;
  }
  #resume {
    display: block;
    margin: auto;
    /* justify-content: center;
    align-items: center; */
  }
  .flexContainer {
    display: flex;
    flex-direction: row; /* Note: row is default, but it doesn't hurt to practice! */
    grid-template-rows: 33% 33% 33%;
    justify-content: center;
    align-items: left;
  }
  .workGrid {
    display: grid;
    
  }
  footer {
    background-color: #373738;
    padding: 5px;
    color: white;
  }
  footer ul {
    list-style: none;
    padding-left: 5px;
  }
  footer li {
    display: inline-block;
    padding: 0px 7px;
  }
  