body {
    margin: 0;
  }
  header {
    background-color: #373738;
    padding: 15px;
    max-height: 100px;
    position: sticky;
  }
  header img {
    max-height: 120px;
    border-radius: 100%;
    object-position: 50% 50%;
    object-fit: cover;
  }
  header ul {
    float: right;
    color: white;
    padding: 24px;
    font-family: 'Lato', 'Roboto', sans-serif;
    font-weight: bold;
  }
  header li {
    display: inline-block;
    padding: 0px 5px;
  }
  header p {
    display: inline-block;
  }
  .heroImg {
    background-image: url("../images/heroImg_bg_city_ruins.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: relative;
    background-size: cover;
  }
  .content {
    max-width: 300px;
    margin: 0 auto;
    padding: 50px;
    /* background-color: rgba(0,0,0,0.3); */
    text-align: center;
  }
  button {
    padding: 15px;
    background-color: #373738;
    color: white;
    font-size: 15px;
    border-radius: 4px;
  }
  .recentWork {
    display: grid;
    grid-template-columns: 300px 300px;
    justify-content: center;
  }
  footer {
    background-color: #373738;
    padding: 5px;
    color: white;
  }
  footer ul {
    list-style: none;
    padding-left: 5px;
  }
  footer li {
    display: inline-block;
    padding: 0px 7px;
  }
  